<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">

  <!-- AOS -->
  <script src="./resources/aos/aos.js" defer></script>
  <link href="./resources/aos/aos.css" rel="stylesheet" >

  <!-- COUNTER -->
  <script src="./assets/vendor/purecounter/purecounter_vanilla.js" defer></script>


    <script src="https://kit.fontawesome.com/c72cbdb9b9.js" crossorigin="anonymous"></script>

    <link href="./resources/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="./resources/swiper/swiper-bundle.min.js" defer></script>
    <script src="./main.js" defer></script>

    <link rel="stylesheet" href="./styles.css">
</head>

<body>
    <header id="header" class="header-container">
        <div class="navbar-container">

            <div class="logo">
                <h2>NICEDIRECT</h2>
            </div>

            <nav id="navbar" class="navbar">
                <ul class="navbar-links">
                    <li><a class="nav-link active" href="/">Home</a></li>
                    <li><a class="nav-link" href="#about">Shop Coffee</a></li>
                    <li class="dropdown"><a href="#"><span>Expo</span> <i class="fa-solid fa-chevron-down"></i></a>
                        <ul>
                            <li><a routerLink="/Expo">NICE Expo</a></li>
                            <li><a href="#">Register for NICE Expo</a></li>
                        </ul>
                    </li>
                    <li class="dropdown"><a href="#"><span>Origin Trip</span><i class="fa-solid fa-chevron-down"></i></a>
                        <ul>
                            <li><a href="#">Nyeri Origin Trip</a></li>
                            <li><a href="#">Register for Origin Trip</a></li>
                        </ul>
                    </li>
                    <li><a class="nav-link" href="/">Partners</a></li>
                    
                </ul>
                <ul class="cart-icon">
                    <li class="cart"><i class="fa-solid fa-cart-shopping" value=8></i></li>
                </ul>
                
                <i class="bi bi-list mobile-nav-toggle"></i>
                
            </nav>
            
            <div class="credentials-nonmobile">
                <ul class="navbar-login" *ngIf="!user">
                    <li>
                        <button mat-raised-button (click)="showLoginDialog()" type="button" class="btn btn-dark"><i class="fa-solid fa-user"></i>&nbsp;&nbsp;Log
                            In</button>
                    </li>
                    <li>
                        <button mat-raised-button (click)="showSignUpDialog()" type="button"
                            class="btn btn-outline-dark"><i class="fa-solid fa-arrow-right-to-bracket"></i>&nbsp;&nbsp;Sign Up</button>
                    </li>
                </ul>
            </div>

        </div>
    </header>



    <div class="homepage-container">
        <!-- ======= Hero Section ======= -->
        <section id="hero">
            <div class="hero-container" data-aos="fade-up">
                <h1>Why settle for secondhand when you can have it direct from farm?</h1>

                <p class="hero-par2">100% Direct | 100% Transparent | 100% Pure Coffee</p>
                <a class="hero-btn" routerLink="/Coffee" role="button">BUY NOW&nbsp; <i class="fa-solid fa-cart-arrow-down"></i></a>
            </div>
        </section><!-- End Hero -->

        <main id="main">

            

            <!-- ======= Why Us Section ======= -->
            <section id="about" class="about">
                <div class="container" data-aos="fade-up">

                    <div class="about-header section-title" data-aos="fade-up">
                        <h2>Why NiceDirect?</h2>
                    </div>

                    <div class="row no-gutters">
                        <div class="col-xl-7 d-flex align-items-stretch">
                            <div class="icon-boxes d-flex">
                                <div class="row">
                                    <!-- https://img.freepik.com/free-photo/blue-piggy-bank-with-money-coins-copy-space-background_23-2148305899.jpg?size=626&ext=jpg -->
                                    <div class="col-md-6 icon-box dark box-one" data-aos="fade-right" data-aos-delay="100">
                                        <i class="bi bi-piggy-bank"></i>
                                        <h4>Save up to 15%</h4>
                                        <p>Everytime you buy direct from farmers, you save up to 15% with every purchase
                                        </p>
                                    </div>
                                    <div class="col-md-6 icon-box dark box-three" data-aos="fade-right" data-aos-delay="200">
                                        <i class="bi bi-graph-up-arrow"></i>
                                        <h4>Empower and Enrich</h4>
                                        <p>Farmers get empowered to produce the best coffee when they get the highest
                                            pay</p>
                                    </div>
                                    <div class="col-md-6 icon-box light box-four" data-aos="fade-left" data-aos-delay="300">
                                        <i class="bi bi-house"></i>
                                        <h4>Direct impact</h4>
                                        <p>Directly touch the lives of families that work hard to produce amazing
                                            coffees.</p>
                                    </div>
                                    <div class="col-md-6 icon-box light box-two" data-aos="fade-left" data-aos-delay="400">
                                        <i class="bi bi-journal-text"></i>
                                        <h4>Coffee with a story</h4>
                                        <p>Put a face to the coffee you buy by getting directly acquinted with farmers
                                        </p>
                                    </div>
                                </div>
                            </div><!-- End .content-->
                        </div>

                        <!-- <div class="why-cta">
                <a class="hero-btn" routerLink="/Coffee" role="button">BUY NOW</a>
              </div> -->
                    </div>

                </div>
            </section>
            <!-- End Why Us Section -->


            <!-- PRODUCTS SECTION -->
            <div class="products-container">

                <div class="products-header section-title" data-aos="fade-up">
                    <h2>Discover the best coffee</h2>
                </div>

                <!-- Swiper -->
                <div class="swiper-container" data-aos="fade-up">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" *ngFor="let item of coffeeData">

                            <div class="product-image">
                                <img src="./resources/coffee-04.jpg" alt="coffee">
                                <span class="sticker">OFFER</span>
                            </div>

                            <div class="product-manufacturer">
                                <p class="productname">One</p>
                                <p>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                            </div>

                            <div class="product-details">
                                <p class="farmer-name">Kiaragana Coffee Factory</p>
                                <div class="product-price">
                                    <div class="product-prices">
                                        <p class="newprice">$300</p>
                                        <p class="oldprice">$350</p>
                                    </div>
                                    <div class="product-discount">
                                        <p>-10%</p>
                                    </div>
                                </div>
                            </div>

                            <div class="add-actions">
                                <a routerLink="/coffee" role="button">
                                    Add To Cart <i class="fa-solid fa-cart-plus"></i>
                                </a>
                                <a routerLink="/wishlist" role="button">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </div>

                        </div>

                        <div class="swiper-slide" *ngFor="let item of coffeeData">

                            <div class="product-image">
                                <img src="./resources/coffee-04.jpg" alt="coffee">
                                <span class="sticker">OFFER</span>
                            </div>

                            <div class="product-manufacturer">
                                <p class="productname">two</p>
                                <p><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                            </div>

                            <div class="product-details">
                                <p class="farmer-name">Kiaragana Coffee Factory</p>
                                <div class="product-price">
                                    <div class="product-prices">
                                        <p class="newprice">$300</p>
                                        <p class="oldprice">$350</p>
                                    </div>
                                    <div class="product-discount">
                                        <p>-10%</p>
                                    </div>
                                </div>
                            </div>

                            <div class="add-actions">
                                <a routerLink="/coffee" role="button">
                                    Add To Cart <i class="fa-solid fa-cart-plus"></i>
                                </a>
                                <a routerLink="/wishlist" role="button">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </div>

                        </div>

                        <div class="swiper-slide" *ngFor="let item of coffeeData">

                            <div class="product-image">
                                <img src="./resources/coffee-04.jpg" alt="coffee">
                                <span class="sticker">OFFER</span>
                            </div>

                            <div class="product-manufacturer">
                                <p class="productname">three</p>
                                <p><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                            </div>

                            <div class="product-details">
                                <p class="farmer-name">Kiaragana Coffee Factory</p>
                                <div class="product-price">
                                    <div class="product-prices">
                                        <p class="newprice">$300</p>
                                        <p class="oldprice">$350</p>
                                    </div>
                                    <div class="product-discount">
                                        <p>-10%</p>
                                    </div>
                                </div>
                            </div>

                            <div class="add-actions">
                                <a routerLink="/coffee" role="button">
                                    Add To Cart <i class="fa-solid fa-cart-plus"></i>
                                </a>
                                <a routerLink="/wishlist" role="button">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </div>

                        </div>

                        <div class="swiper-slide" *ngFor="let item of coffeeData">

                            <div class="product-image">
                                <img src="./resources/coffee-04.jpg" alt="coffee">
                                <span class="sticker">OFFER</span>
                            </div>

                            <div class="product-manufacturer">
                                <p class="productname">four</p>
                                <p><i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                    <i class="fa-solid fa-star"></i>
                                </p>
                            </div>

                            <div class="product-details">
                                <p class="farmer-name">Kiaragana Coffee Factory</p>
                                <div class="product-price">
                                    <div class="product-prices">
                                        <p class="newprice">$300</p>
                                        <p class="oldprice">$350</p>
                                    </div>
                                    <div class="product-discount">
                                        <p>-10%</p>
                                    </div>
                                </div>
                            </div>

                            <div class="add-actions">
                                <a routerLink="/coffee" role="button">
                                    Add To Cart <i class="fa-solid fa-cart-plus"></i>
                                </a>
                                <a routerLink="/wishlist" role="button">
                                    <i class="fa-regular fa-heart"></i>
                                </a>
                            </div>

                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

                <div class="shop-more" data-aos="fade-up">
                    <a routerLink="/Coffee" role="button">
                        SHOP MORE&nbsp;
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>


            </div>
            <!-- END OF PRODUCTS SECTION -->

            <!-- HOW IT WORKS -->
            <section id="how" class="how">
            <div class="how-container" data-aos="fade-up">
    
              <div class="section-title how-header" data-aos="fade-in">
                <h2>How NiceDirect works</h2>
              </div>
    
              <div class="how-content">
                <div class="how-list">

                  <div class="how-icon-box icon-box-one" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon-container">
                      <!-- <div class="icon"><i class="fa-solid fa-certificate"></i></div> -->
                      <span class="process-number">01</span>
                      <span>|</span>
                      
                    </div>
    
                    <div class="icon-content">
                        <h4 class="title">Quality control</h4>
                        <p class="description">Our presence at soure ensures that all coffees the farmer brings to market directly are sustainably grown and give you the best possible cup.</p>
                    </div>
                  </div>
    
                  <div class="how-icon-box icon-box-two" data-aos="fade-up" data-aos-delay="300">    
                    <div class="icon-container">
                        <!-- <div class="icon"><i class="fa-solid fa-hand-holding-dollar left"></i></div> -->
                        <span class="process-number">02</span>
                        <span>|</span>
                        
                    </div>

                    <div class="icon-content right">
                        
                      <h4 class="title">Prefinances</h4>
                      <p class="description">We ensure the farmer gets prefinancing that allows them to get partial payment which enables them to continue working while the coffee goes to market.</p>
                    </div>
                  </div>
                </div>

                <div class="how-list">  
    
                  <div class="how-icon-box icon-box-one" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon-container">
                      <!-- <div class="icon"><i class="fa-solid fa-truck-plane"></i></div> -->
                      <span class="process-number">03</span>
                      <span>|</span>
                      
                    </div>
                    
                    <div class="icon-content">
                        
                      <h4 class="title">Logistics</h4>
                      <p class="description">Our network of reliable logistics partners enables the farmer to ship their coffee to any part of the world and have it warehoused and delivered on order.</p>
                    </div>
                    
                  </div>
    
                  <div class="how-icon-box icon-box-two" data-aos="fade-up" data-aos-delay="700">                  
    
                    <div class="icon-container">
                        <!-- <div class="icon"><i class="fa-solid fa-bullhorn left"></i></div> -->
                        <span class="process-number">04</span>
                        <span>|</span>
                        
                      </div>

                    <div class="icon-content right">
                        
                      <h4 class="title">Marketing</h4>
                      <p class="description">We make noise on behalf of farmers to let you know their coffee is in the market. Joint marketing manages costs and allows the farmer to concentrate on what they do best.</p>
                    </div>

                     
                    
                  </div>
    
                </div>

                <div class="how-list"> 
                  <div class="how-icon-box icon-box-one" data-aos="fade-up" data-aos-delay="900">
                    <div class="icon-container">
                      <!-- <div class="icon"><i class="fa-solid fa-magnifying-glass"></i></i></div> -->
                      <span class="process-number">05</span>
                      <span>|</span>
                      
                    </div>
                    
    
                    <div class="icon-content">
                       
                      <h4 class="title">Transparency</h4>
                      <p class="description">All direct coffees are fully traceable and everything from transaction costs, prices, and what finally ends up in the farmer’s pocket is open for all transacting parties to view.</p>
                    </div>
                    
                  </div>
    
                  <div class="how-icon-box left icon-box-two" data-aos="fade-up" data-aos-delay="1100">   
                     
                    <div class="icon-container">
                      <!-- <div class="icon"><i class="fa-solid fa-cart-arrow-down left"></i></div> -->
                      <span class="process-number">06</span>
                      <span>|</span>
                      
                    </div>

                    <div class="icon-content right">
                        
                      <h4 class="title">Shop</h4>
                      <p class="description">Once coffees are warehoused in the destination market, you can make orders for both green or roasted which can be fullfilled quickly and delivered to your doorstep.</p>
                    </div>
                   
                  </div>
                </div>

              </div>

              <div class="how-cta" data-aos="fade-up">
                <div class="cta-image" data-aos="fade-right" data-aos-delay="400">
                    <img src="https://img.freepik.com/free-photo/aerial-view-fresh-coffee-cup_53876-95367.jpg?size=626&ext=jpg" alt="" >
                </div>
                <div class="cta-content" data-aos="fade-left" data-aos-delay="600">
                    <h4><span class="white">Des</span>igned for <br> <span class="white">Cof</span>fee Lovers everywhere</h4>
                    <p>Explore our premium coffee collection and place your order today. Your taste buds will thank you! Check out the variety of exquisite Coffee we have. From the bold and robust to the smooth and mellow, there's everything for every coffee enthusiast.</p>
                    <div class="cta-btn"><a href="">SHOP NOW&nbsp; <i class="fa-solid fa-cart-arrow-down"></i></a></div>
                </div>
              </div>
            </div>
          </section> 

          <!-- FARMERS SECTION -->
          <section id="farmers" class="farmers">
            <div class="farmers-container">

                <div class="section-title farmer-header" data-aos="fade-in" data-aos-delay="100">
                    <h2>Meet the Farmers Behind Your Brew</h2>
                    <p>Click on a farmer from our list below to not only explore their unique story and commitment
                        to sustainability but also to shop their exceptional coffee straight from their farm.
                        Experience the connection between farmer and brew like never before.
                    </p>
                </div>

                <div class="farmer-list">
                    <a href="#" class="farmer farmer-one">
                        <div>
                            <p>Riaikania Coffee Factory <br>
                              <i class="fa-solid fa-location-dot"></i>&nbsp; Nyeri, Kenya.
                            </p>
                        </div>
                    </a>

                    <div class="farmer farmer-two">
                        <p>Riaikania Coffee Factory<br><i class="fa-solid fa-location-dot"></i>&nbsp; Kabati, Kenya.
                          </p>
                    </div>

                    <div class="farmer farmer-three">
                        <p>Riaikania Coffee Factory <br>
                            <i class="fa-solid fa-location-dot"></i>&nbsp; Limuru, Kenya.
                          </p>
                    </div>

                    <div class="farmer farmer-four">
                        <p>Riaikania Coffee Factory <br>
                            <i class="fa-solid fa-location-dot"></i>&nbsp; Nakuru, Kenya.
                          </p>
                    </div>

                    <div class="farmer farmer-five">
                        <p>Riaikania Coffee Factory <br>
                            <i class="fa-solid fa-location-dot"></i>&nbsp; Murang'a, Kenya.
                          </p>
                    </div>

                    <div class="farmer farmer-six">
                        <p>Riaikania Coffee Factory <br>
                            <i class="fa-solid fa-location-dot"></i>&nbsp; Kiambu, Kenya.
                          </p>
                    </div>
                </div>

                <div class="view-more" data-aos="fade-up">
                    <a routerLink="/farmers" role="button">
                        VIEW ALL FARMERS&nbsp;
                        <i class="fa-solid fa-arrow-up-right-from-square"></i>
                    </a>
                </div>
            </div>
          </section> 

          <!-- ======= Counts Section ======= -->
           <!-- <section id="counts" class="counts  section-bg">
                <div class="container">

                    <div class="row no-gutters">

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="fa-solid fa-dollar-sign"></i>
                                <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                                    class="purecounter">10</span>
                                <p><strong>Million shillings</strong> total cummulative sales</p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="fa-solid fa-building"></i>
                                <span data-purecounter-start="0" data-purecounter-end="62" data-purecounter-duration="1"
                                    class="purecounter">62</span>
                                <p>Exhibiting coffee related <strong>companies</strong></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="fa-regular fa-face-smile"></i>
                                <span data-purecounter-start="0" data-purecounter-end="5000"
                                    data-purecounter-duration="1" class="purecounter">5000</span>
                                <p>Happy <strong>farmers</strong></p>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                            <div class="count-box">
                                <i class="fa-solid fa-coins"></i>
                                <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                                    class="purecounter">20</span>
                                <p><strong>Billion shillings</strong> value of Kenya's coffee industry</p>
                            </div>
                        </div>

                    </div>

                </div>
            </section> -->
            <!-- End Counts Section -->
        

            <!-- COUNTS SECTION -->
            <div class="count-container">
                <div class="count-header">
                    <h2>Brewing Success: One Stat at a Time.</h2>
                </div>

                <div class="count-content">
                    <div class="count-card">
                        <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1"
                                    class="purecounter">10</span>
                        <p><strong>Million shillings</strong> total cummulative sales</p>
                    </div>

                    <div class="count-card">
                        <span data-purecounter-start="0" data-purecounter-end="62" data-purecounter-duration="1"
                                    class="purecounter">62+</span>
                        <p>Exhibiting coffee related <strong>companies</strong></p>
                    </div>

                    <div class="count-card">
                        <span data-purecounter-start="0" data-purecounter-end="5" data-purecounter-duration="1"
                                    class="purecounter">5K+</span>
                        <p>Happy <strong>farmers</strong></p>
                    </div>

                    <div class="count-card">
                        <span data-purecounter-start="0" data-purecounter-end="20" data-purecounter-duration="1"
                                    class="purecounter">20</span>
                        <p><strong>Billion shillings</strong> value of Kenya's coffee industry</p>
                    </div>
                </div>
            </div>

          <!-- JOIN OUR MOVEMENT SECTION -->
          <section class="join-container">
            <div class="join-header">
                <h2>Join Our Movement</h2>
            </div>

            <div class="join-content">
                <div class="join-card card-2">
                    <div class="content-image">
                        <img src="https://img.freepik.com/free-vector/coffee-shop-building-concept-illustration_114360-15917.jpg?size=626&ext=jpg" alt="cafe">
                    </div>
                    <div class="content-text">
                        <h2>Own a Cafe or Roastery?</h2>
                        <p>Join our community for</p>
                        <ul>
                            <li>Amazing Discounts</li>
                            <li>Wide Variety of Tastes</li>
                            <li>Pay Direct to farmers</li>
                            <li>Direct Premiums</li>
                        </ul>
                    </div>
                    <div class="content-btn">
                        <a href="">BUY COFFEE</a>
                    </div>
                </div>

                <div class="join-card card-1">
                    <div class="content-image">
                        <img src="https://img.freepik.com/free-vector/hand-drawn-coffee-go-cup_53876-99220.jpg?size=626&ext=jpg" alt="coffee cup">
                    </div>
                    <div class="content-text">
                        <h2>Love Coffee?</h2>
                        <p>Join our community for</p>
                        <ul>
                            <li>Amazing Discounts</li>
                            <li>Wide Variety of Tastes</li>
                            <li>Pay Direct to farmers</li>
                            <li>Direct Premiums</li>
                        </ul>
                    </div>
                    <div class="content-btn">
                        <a href="">BUY COFFEE</a>
                    </div>
                </div>
               
                
                <div class="join-card card-3">
                    <div class="content-image">
                        <img src="https://img.freepik.com/free-vector/coffee-farm-concept-illustration_114360-9806.jpg?size=626&ext=jpg" alt="farm">
                    </div>
                    <div class="content-text">
                        <h2>Own a coffee farm?</h2>
                        <p>Join our community for</p>
                        <ul>
                            <li>Amazing Discounts</li>
                            <li>Wide Variety of Tastes</li>
                            <li>Pay Direct to farmers</li>
                            <li>Direct Premiums</li>
                        </ul>
                    </div>
                    <div class="content-btn">
                        <a href="">SELL COFFEE</a>
                    </div>
                </div>
                
            </div>
          </section>


           <!-- JOIN OUR MOVEMENT SECTION -->
            <!-- <div class="join-container">
                <div class="section-title joincontainer-header" data-aos="fade-up">
                    <h2>Join our Coffee Movement</h2>
                </div>

                <div class="joincontainer-content" data-aos="fade-up">
                    <div class="love-coffee join-card">
                        <div class="join-header">
                            <h2>Love Coffee?</h2>
                        </div>

                        <div class="join-subheader">
                            <p>Join our community for:</p>
                        </div>

                        <div class="join-content">
                            <p>Amazing discounts</p>
                            <p>Wide variety of tastes</p>
                            <p>Pay direct to farmers</p>
                            <p>Direct premiums to farmers</p>
                        </div>

                        <div class="join-button">
                            <a routerLink="/Coffee" role="button" class="join-btn">
                                BUY COFFEE
                            </a>
                        </div>
                    </div>

                    <div class="cafe join-card">
                        <div class="join-header">
                            <h2>Own a Roastery or Café?</h2>
                        </div>

                        <div class="join-subheader">
                            <p>Join our community for:</p>
                        </div>

                        <div class="join-content">
                            <p>Amazing bulk offers</p>
                            <p>Top premium coffees</p>
                            <p>Free access to farmers</p>
                            <p>Free samples & cupping</p>
                        </div>

                        <div class="join-button">
                            <a routerLink="/Coffee" role="button" class="join-btn">
                                BUY COFFEE
                            </a>
                        </div>
                    </div>

                    <div class="coffee-farm join-card">
                        <div class="join-header">
                            <h2>Own a Coffee Farm?</h2>
                        </div>

                        <div class="join-subheader">
                            <p>Join our community for:</p>
                        </div>

                        <div class="join-content">
                            <p>Direct market access</p>
                            <p>Export pre-finances</p>
                            <p>Farmer support</p>
                            <p>Direct premiums</p>
                        </div>

                        <div class="join-button">
                            <a routerLink="/Sell" role="button" class="join-btn">
                                SELL COFFEE
                            </a>
                        </div>
                    </div>
                </div>

            </div> -->

            <!-- SUBSCRIPTION -->
            <!-- <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Sign up for our Newsletter and get the latest NICEDIRECT news, unique offers and access to exclusive products.</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>
          
          </div> -->


        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

    </div>
</body>

</html>